<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Favorite Movie App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fixed inverted menu own_menu_color" id="menu">
            <div class="ui container">
                <div class="header item"><i class="record icon"></i><a href="/">Search Movie Site</a></div>
                 <a href="/" class="item">Search Movie</a>
            </div>
        </div>