<% include partials/header %>

    <main class="ui page grid">
        <div class="row">
            <div class="column">
                <div class="ui message main">
                    <h1 class="ui header ">Search for your favorite movie!</h1>
                    <form action="/results" method="GET" class='ui form' id='search-form'>
                        <div class="field">
                            <input type="text" name="search" placeholder="search for movie" required>
                        </div>
                        <button type="submit" class="ui blue button centered" id="search_button">Go and Search</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div class="ui main text container">
    </div>

    <% include partials/footer %>